* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --whiteText: white;
    --whiteTextFontSize: 1.5rem;
}

body * {
    color: var(--whiteText);
    font-size: var(--whiteTextFontSize);
}

section ul li {
    cursor: pointer;
}

.header {
    grid-area: header;
    background-color: grey;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    list-style-type: none;
}

section * {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation {
    grid-area: navigation;
    background-color: grey;
}

.main {
    grid-area: main;
    background-color: grey;
}

.first-main {
    position: relative;
    width: 80%;
    height: 80%;
    background: linear-gradient(to right, grey, purple, aqua)
}

.second-main {
    position: absolute;
    width: 100%;
    height: 10px;
    background-color: burlywood;
    transition: 1s;
}

.second-main:hover {
    cursor: pointer;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgb(248, 6, 6), rgb(128, 109, 0), rgb(255, 153, 0))
}

.aside {
    grid-area: aside;
    background-color: grey;
}

.footer {
    grid-area: footer;
    background-color: grey;
}

section {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-areas:
  'header header header header header'
  'navigation main main main aside'
  'navigation main main main aside'
  'navigation main main main aside'
  'footer footer footer footer footer';
   grid-gap: 5px;
}


